ul{
list-style: none;
}

a{
text-decoration: none;
}

body {
font-family: "Roboto",sans-serif;
color: #434455;
background-color: FFFFFF;
}

.header-logo-first {
color: #2e2f42;
}
/* -------header-----------*/
.header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-menu-link{
        ont-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-menu-link:hover{
        color: #404bbf;
}

.header-menu-link:focus{
        color: #404bbf;
}

.header-menu-link-contacts:active{
        color: #4d5ae5;
}


.header-address-link {
        font-style: normal
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.header-address-link:hover {
        color: #404bbf;
}

.header-address-link:focus {
        color: #404bbf;
}

/* -------------------------------*/
/* ------.main-section -----------*/

.main-section{
        width: 1440px;
        height: 600px;
        background: #2e2f42;
}

.main-section-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.main-section-button{
        font-family: "Roboto", sans-serif;
        background: #4d5ae5;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}

.main-section-button:hover{
        background-color: #404bbf;

}
.main-section-button:focus {
        background-color: #404bbf;
}

/* ------------------------------ */
/* ----------------fuatures---------- */

.fuatures{
        width: 1128px;
        height: 104px;
}

.fuatures-list-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.fuatures-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* -------------------------------- */
/* ------------------team-------------- */

.team{
width: 1440px;
height: 732px;
background: #f4f4fd;
}

.team-title{
font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.team-menu-item{
        border-radius: 0 0 4px 4px;
        padding: 0px 0px 32px 0px;
        width: 264px;
        height: 380px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
}

.team-menu-img{
        width: 264px;
        height: 260px;
}

.team-list-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-list-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* ---------------------------------- */
/* ----------------portfolio------------ */
.portfolio{
        width: 1128px;
        height: 1000px;
}

.portfolio-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-menu-item{
        width: 360px;
        height: 420px;
        background: #fff;
}


.portfolio-list-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-list-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ---------------------------------- */
/* -----------footer--------------------- */
.footer{
        width: 1440px;
        height: 312px;
        background: #2e2f42;
}

.footer-link{
        font-family: "Raleway", sans-serif
        width: 115px;
        height: 24px;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-link-logo{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}